#! /bin/bash

echo 'installing apt packages...'
sudo apt install -y \
  i3 i3blocks feh zsh rxvt-unicode neofetch ffmpeg neovim pip ranger qalc vlc cmake

echo 'Checking if rofi is installed...'
if ! [ -x "$(command -v rofi)" ]; then
  echo 'Installing rofi...'
  sudo apt install -y rofi
fi

# todo: npm nvm bw
echo 'Checking if bwmenu is installed...'
if ! [ -x "$(command -v bwmenu)" ]; then
  echo 'Installing bwmenu...'
  git clone https://github.com/mattydebie/bitwarden-rofi.git

  (
    cd bitwarden-rofi
    mkdir -p ~/.local/bin && \
      cp bwmenu ~/.local/bin/bwmenu && \
      cp lib-bwmenu ~/.local/bin/lib-bwmenu && \
      chmod +x ~/.local/bin/bwmenu
  )
fi

echo 'Checking if maim is installed...'
if ! [ -x "$(command -v maim)" ]; then
  sudo apt install maim
fi

echo 'Checking if micro is installed...'
if ! [ -x "$(command -v micro)" ]; then
  curl https://getmic.ro | bash
  mv micro ~/bin
fi