###############################################################################
# Launcher dialogs
###############################################################################

# Launch window compositor
exec_always --no-startup-id picom --config ~/.config/.compton.conf

# Set background image
exec_always --no-startup-id feh --bg-fill {{ .background_image }}

# Window modifiers
for_window [instance="floating"] floating enabled

# Base launchers
set_from_resource $wm.binding.terminal wm.binding.terminal Return
bindsym $mod+Return exec --no-startup-id /usr/bin/x-terminal-emulator
bindsym $mod+Shift+Return exec --no-startup-id /usr/bin/x-terminal-emulator --class floating
bindsym $mod+Ctrl+Return exec --no-startup-id gtk-launch $(xdg-settings get default-web-browser)

bindsym $mod+space exec --no-startup-id rofi -p "Launch" -i -show drun -show-icons
bindsym $mod+y exec --no-startup-id "PATH=$PATH:/home/linuxbrew/.linuxbrew/bin && cd /home/{{ .username }}/.config/rofi/commands && npm run run"

bindsym $mod+Shift+q [con_id="__focused__"] kill
bindsym --release --border button2 kill

# i3 specifics
bindsym $mod+Shift+c reload
bindsym $mod+Shift+r restart
bindsym $mod+Escape exec --no-startup-id "bash ~/.config/scripts/lockscreen.sh"

# Screenshots
bindsym Print exec --no-startup-id "bash ~/.config/scripts/screenshot.sh"
bindsym Ctrl+Print exec --no-startup-id "bash ~/.config/scripts/screenshot_active_window.sh"
bindsym $mod+c exec --no-startup-id "bash ~/.config/scripts/colorpicker.sh"

# Always on
set_from_resource $wm.program.nm-applet wm.program.nm-applet /usr/bin/nm-applet
exec --no-startup-id $wm.program.nm-applet

# Media volume controls
bindsym XF86AudioMute exec amixer -D pulse sset Master toggle
bindsym XF86AudioLowerVolume exec amixer -D pulse sset Master 5%-
bindsym XF86AudioRaiseVolume exec amixer -D pulse sset Master 5%+

# Sreen brightness controls
bindsym XF86MonBrightnessUp exec xrandr --output {{ .primary_monitor }} --brightness $(echo "if($(xrandr --verbose | grep ^{{ .primary_monitor }} -A5 | grep Brightness | cut -d ' ' -f2) + 0.1 > 1) 1 else $(xrandr --verbose | grep ^{{ .primary_monitor }} -A5 | grep Brightness | cut -d ' ' -f2) + 0.1" | bc)
bindsym XF86MonBrightnessDown exec xrandr --output {{ .primary_monitor }} --brightness $(echo "if($(xrandr --verbose | grep ^{{ .primary_monitor }} -A5 | grep Brightness | cut -d ' ' -f2) - 0.1 < 0) 0 else $(xrandr --verbose | grep ^{{ .primary_monitor }} -A5 | grep Brightness | cut -d ' ' -f2) - 0.1" | bc)

# Media player controls
bindsym XF86AudioPlay exec playerctl play-pause
bindsym XF86AudioPause exec playerctl play-pause
bindsym XF86AudioNext exec playerctl next
bindsym XF86AudioPrev exec playerctl previous 