smart_borders on
hide_edge_borders smart
default_border normal 3

# class                 border  bground text    indicator child_border
client.focused          {{ .primary_color }} {{ .primary_color }} #000000 #2E9EF4   {{ .primary_color }}
client.focused_inactive #111111 #111111 #888888 #484E50   #111111
client.unfocused        #111111 #111111 #888888 #292D2E   #111111
client.urgent           #2F343A #900000 #FFFFFF #900000   #900000
client.placeholder      #000000 #0C0C0C #FFFFFF #000000   #0C0C0C

client.background       #FFFFFF

smart_gaps on 
gaps inner 0
gaps outer 0
workspace 10 gaps inner 50
hide_edge_borders smart_no_gaps