exec --no-startup-id i3-msg 'workspace 10; layout splith; exec --no-startup-id gtk-launch $(xdg-settings get default-web-browser); exec --no-startup-id alacritty -e zsh -c "ZSH_EXECUTE_ON_STARTUP=\"/home/{{ .username }}/bin/system_autostart" zsh -i"'