URxvt.font: xft:Liberation Mono:size=9:minspace=False
URxvt.letterSpace: -1
URxvt.allowBoldFonts: false
URxvt.scrollBar: false
URxvt.loginShell: true
URxvt.eightBitInput: false
URxvt.internalBorder: 4
URxvt.borderWidth: 0
URxvt.Thickness: 0
URxvt.transparent: true
URxvt.shading: 40
URxvt.blurRadius: 20
URxvt.foreground: {{ .color_gray_800 }}
URxvt.background: {{ .color_gray_100 }}
URxvt.color0: #2e3436
URxvt.color8: #888A85
URxvt.color1: #cc0000
URxvt.color9: #ef2929
URxvt.color2: #4e9a06
URxvt.color10: #8ae234
URxvt.color3: #edd400
URxvt.color11: #fce94f
URxvt.color4: {{ .color_accent_500 }}
URxvt.color12: {{ .color_accent_800 }}
URxvt.color5: #92659a
URxvt.color13: #c19fbe
URxvt.color6: #07c7ca
URxvt.color14: #63e9e9
URxvt.color7: #d3d7cf
URxvt.color15: #eeeeee