UXTerm*faceName: Liberation Mono
UXTerm*faceSize: 9
UXTerm*allowBoldFonts: false
UXTerm*scrollBar: false
UXTerm*loginShell: true
UXTerm*eightBitInput: false
UXTerm*internalBorder: 2
UXTerm*foreground: {{ .color_gray_800 }}
UXTerm*background: {{ .color_gray_100 }}
UXTerm*color0: #2e3436
UXTerm*color8: #888A85
UXTerm*color1: #cc0000
UXTerm*color9: #ef2929
UXTerm*color2: #4e9a06
UXTerm*color10: #8ae234
UXTerm*color3: #edd400
UXTerm*color11: #fce94f
UXTerm*color4: #3465a4
UXTerm*color12: #729fcf
UXTerm*color5: #92659a
UXTerm*color13: #c19fbe
UXTerm*color6: #07c7ca
UXTerm*color14: #63e9e9
UXTerm*color7: #d3d7cf
UXTerm*color15: #eeeeee