#! /bin/bash

echo 'Checking if intellij-idea-ultimate is installed...'
if ! [ -x "$(command -v intellij-idea-ultimate)" ]; then
  echo 'Installing intellij-idea-ultimate...'
  snap install intellij-idea-ultimate
fi

echo 'Checking if bw is installed...'
if ! [ -x "$(command -v bw)" ]; then
  echo 'Installing bw...'
  sudo snap install bw
fi
