[Allow Shutdown]
Identity=unix-user:yourusername
Action=org.freedesktop.login1.power-off;org.freedesktop.login1.power-off-multiple-sessions
ResultActive=yes

[Allow Reboot]
Identity=unix-user:yourusername
Action=org.freedesktop.login1.reboot;org.freedesktop.login1.reboot-multiple-sessions
ResultActive=yes
