[bar/bottom]
monitor = ${env:MONITOR:}
bottom = true
width = 100%
height = 30

background = #aa000000
foreground = #ccffffff

line-color = #fba922
line-size = 1

spacing = 3
padding-right = 4
module-margin-left = 0
module-margin-right = 6

font-0 = Termsynu:size=8;0
font-1 = Termsynu:size=6;-3
font-2 = FontAwesome:size=8;-2
font-3 = Termsynu:size=8;-1
font-4 = MaterialIcons:size=10;-1
font-5 = Termsynu:size=8:antialias=false;0

modules-left = i3
modules-center = spotify-prev spotify spotify-next pulseaudio
modules-right = volume backlight wireless-network cpu memory battery date powermenu

[module/backlight]
type = internal/xbacklight
format = <ramp> <bar>

ramp-0 = 
ramp-1 = 
ramp-2 = 

bar-width = 10
bar-indicator = |
bar-indicator-font = 3
bar-indicator-foreground = #ff
bar-fill = ─
bar-fill-font = 3
bar-fill-foreground = #c9665e
bar-empty = ─
bar-empty-font = 3
bar-empty-foreground = #44

[module/battery]
type = internal/battery
full-at = 98

format-charging = BAT <label-charging>
format-discharging = BAT <label-discharging>
format-full = BAT <label-full>

label-charging = %{F#aaff77}%percentage%%%{F-}
label-discharging = %{F#fba922}%percentage%%%{F-}
label-full = %{F#aaff77}%percentage%%%{F-}

[module/cpu]
type = internal/cpu
interval = 0.5
format = <label> <ramp-coreload>
label = CPU

ramp-coreload-0 = ▁
ramp-coreload-0-font = 2
ramp-coreload-0-foreground = #aaff77
ramp-coreload-1 = ▂
ramp-coreload-1-font = 2
ramp-coreload-1-foreground = #aaff77
ramp-coreload-2 = ▃
ramp-coreload-2-font = 2
ramp-coreload-2-foreground = #aaff77
ramp-coreload-3 = ▄
ramp-coreload-3-font = 2
ramp-coreload-3-foreground = #aaff77
ramp-coreload-4 = ▅
ramp-coreload-4-font = 2
ramp-coreload-4-foreground = #fba922
ramp-coreload-5 = ▆
ramp-coreload-5-font = 2
ramp-coreload-5-foreground = #fba922
ramp-coreload-6 = ▇
ramp-coreload-6-font = 2
ramp-coreload-6-foreground = #ff5555
ramp-coreload-7 = █
ramp-coreload-7-font = 2
ramp-coreload-7-foreground = #ff5555

[module/date]
type = internal/date
date = %%{F#99}%Y-%m-%d%%{F-}  %%{F#fba922}%H:%M:%S%

[module/memory]
type = internal/memory
format = <label>
label = RAM %{F#fba922}%percentage_used%%%{F-}

[module/wireless-network]
type = internal/network
interface = {{ .primary_network_interface }}
interval = 3.0
ping-interval = 10

format-connected = WIFI <label-connected>
label-connected = %{F#fba922}%essid%%{F-}
label-disconnected =    not connected
label-disconnected-foreground = #66

[module/volume]
type = internal/volume
speaker-mixer = Speaker
headphone-mixer = Headphone
headphone-id = 9

format-volume = <ramp-volume> <label-volume>
label-muted =   muted
label-muted-foreground = #66

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
ramp-volume-3 = 

[module/powermenu]
type = custom/menu

format-padding = 0

label-open = 
label-close = 

menu-0-0 = Restart i3
menu-0-0-foreground = #fba922
menu-0-0-exec = i3-msg restart
menu-0-1 = Reboot
menu-0-1-foreground = #fba922
menu-0-1-exec = menu_open-1
menu-0-2 = Power off
menu-0-2-foreground = #fba922
menu-0-2-exec = menu_open-2

menu-1-0 = Cancel
menu-1-0-foreground = #fba922
menu-1-0-exec = menu_open-0
menu-1-1 = Reboot
menu-1-1-foreground = #fba922
menu-1-1-exec = sudo reboot

menu-2-0 = Power off
menu-2-0-foreground = #fba922
menu-2-0-exec = sudo poweroff
menu-2-1 = Cancel
menu-2-1-foreground = #fba922
menu-2-1-exec = menu_open-0

[module/clock]
type = internal/date
interval = 2
date = %%{F#999}%Y-%m-%d%%{F-}  %%{F#fba922}%H:%M%%{F-}

[module/i3]
type = internal/i3
pin-workspaces = true

label-mode = %mode%
label-mode-padding = 2
label-mode-background = #e60053

; Available tokens:
;   %name%
;   %icon%
;   %index%
;   %output%
; Default: %icon% %name%
label-focused = %index%
label-focused-foreground = #ffffff
label-focused-background = #3f3f3f
label-focused-underline = #fba922
label-focused-padding = 4

; Available tokens:
;   %name%
;   %icon%
;   %index%
;   %output%
; Default: %icon% %name%
label-unfocused = %index%
label-unfocused-padding = 4

; Available tokens:
;   %name%
;   %icon%
;   %index%
;   %output%
; Default: %icon% %name%
label-visible = %index%
label-visible-underline = #555555
label-visible-padding = 4

; Available tokens:
;   %name%
;   %icon%
;   %index%
;   %output%
; Default: %icon% %name%
label-urgent = %index%
label-urgent-foreground = #000000
label-urgent-background = #bd2c40
label-urgent-padding = 4

[module/spotify]
type = custom/script
tail = true
interval = 1

format-prefix = "%{T6}"
format = <label>
format-padding = 2

exec = ~/.config/polybar/get_spotify_status.sh
click-left = playerctl play-pause -p spotify

[module/spotify-prev]
type = custom/script
exec = echo ""
format = <label>
click-left = playerctl previous -p spotify

[module/spotify-next]
type = custom/script
exec = echo ""
format = <label>
click-left = playerctl next -p spotify

[module/pulseaudio]
type = internal/pulseaudio
use-ui-max = true
interval = 5
format-volume = VOL <label-volume>
format-muted = VOL <label-muted>

label-volume = %{F#fba922}%percentage%%%{F-}
label-muted = %{F#fba922}muted%{F-}